*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.main-text{
    font-size: 48px;
}

.sub-text{
    font-size: 18px;
}

.muted-text{
    font-size: 16px;
}

.container{
    min-height: 100vh;
    background: url("./img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.search-box{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.search-row{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

#input-box{
    width: 500px;
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
}

#search-btn{
    background: none;
    border: 0;
    cursor: pointer;
}

#weather-container{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 55vh;
    padding: 1rem 1.5rem;
    display: none;
}

.glass-effect{
    color: white;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.weather-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.weather-header-item{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.weather-content{
    text-align: center;
    margin-top: 1.5rem;
}

.weather-info{
    margin-top: 1.7rem;
}

.weather-row{
    display: flex;
    margin-bottom: 1.2rem;
    text-align: center;
}

.weather-col{
    flex: 1;
}
